@using IKEA.BLL.Dtos.DepartmentDtos
@model IEnumerable<DepartmentDto>
@{
    ViewData["Title"] = "Index";
}
<h1 class="my-3">All Departments</h1>
<div class="card">
    <div class="card-header border border-primary">

        <h1 class="my-3 ">All departments</h1>
        <div class="alert alert-success">
            <h2>@ViewData["Message"]</h2>
        </div>
        <a asp-action="Create" class="btn btn-success">Create</a>
        @if (Model.Any())
        {
            <table class="table table-striped table-hover mt-2">
                <thead class="text-center">
                    <tr>
                        <th>@Html.DisplayNameFor(d=>d.code)</th>
                        <th>@Html.DisplayNameFor(d => d.Name)</th>
                        <th>@Html.DisplayNameFor(d => d.Description)</th>
                        <th>Details</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @foreach(var dept in Model)
                    {
                        <tr>
                            <td>@dept.code</td>
                            <td>@dept.Name</td>
                            <td>@dept.Description</td>
                            <partial name="_ButtonsPartialView" model="@dept.Id" />
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-info mt-2">
                <h2>No DEpartment Found</h2>
            </div>
        }
    </div>
</div>

